<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprite/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0004</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0005</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0006</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0007</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0008</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0014</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0015</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0016</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0017</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0018</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0024</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0025</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0026</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0027</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0028</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0029</key>
            <dict>
                <key>frame</key>
                <string>{{64,514},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0030</key>
            <dict>
                <key>frame</key>
                <string>{{64,514},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0031</key>
            <dict>
                <key>frame</key>
                <string>{{64,514},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0032</key>
            <dict>
                <key>frame</key>
                <string>{{64,514},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0033</key>
            <dict>
                <key>frame</key>
                <string>{{64,514},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0034</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0036</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0039</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0040</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0041</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0042</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0043</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{-245,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0044</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0045</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0046</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0047</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0048</key>
            <dict>
                <key>frame</key>
                <string>{{64,640},{60,124}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0049</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0050</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0051</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0052</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0053</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0054</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0055</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0056</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0057</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0058</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,126}}</string>
                <key>offset</key>
                <string>{-245,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0059</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0060</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0061</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0062</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0063</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0064</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0065</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0066</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0067</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0068</key>
            <dict>
                <key>frame</key>
                <string>{{64,386},{60,126}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0069</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{60,124}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0070</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{60,124}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0071</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{60,124}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0072</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{60,124}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0073</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{60,124}}</string>
                <key>offset</key>
                <string>{-245,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>sprite/0074</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{74,130}}</string>
                <key>offset</key>
                <string>{-238,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,130}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{126,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd4e6a9af55d9baaa7f58492b4a4fd36:f4e2bb31cb96269640d74024b45efe0f:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
